.box svg {
  padding: 0px, 0px, 0px, 0px;
}

path {
  stroke-width: 2px;
  stroke: black;
  fill: black;
  fill-opacity: 0.5;
  z-index: 1;
}

.hover {
  stroke-width: 4px;
  stroke: #2196F3;
  fill: black;
  fill-opacity: 0.5;
  z-index: 10;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 12px;
  padding: 8px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: #ddd;
  pointer-events: none;
}
